{% extends 'base.html.twig' %}

{% block title %}Accueil - Partie Back{% endblock %}

{% block body %}
    <h1 class="text-center mont">Examen Partie Back End</h1>

    <div class="extra-space-l"></div>
    <!--====== Section nouveau produit caroussel ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h2 class="section__heading u-c-secondary u-s-m-b-12 mont text-center">Les derniers Projets réalisés</h2>
                            <div class="title-underline-center"></div>

                            {#                                     <span class="section__span u-c-silver">Voici l'arrivée des nouveaux produits !</span>
 #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="slider-fouc">
                    <div class="owl-carousel product-slider" data-item="4">

                        {# card caroussel projets  #}

                        {% include 'article/listcaroussel.html.twig' with {
                            articles
                        } %}

                        {# end fin card card caroussel #}

                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section nouveau produit ======-->

    <div class="extra-space-xl"></div>
    <div class="section__intro u-s-m-b-46">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h2 class="section__heading u-c-secondary u-s-m-b-12 mont text-center">Tous les Projets réalisés</h2>
                        <div class="title-underline-center"></div>

                        {#                                     <span class="section__span u-c-silver">Voici l'arrivée des nouveaux produits !</span>
 #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->

    <!--====== Main App ======-->
    <div id="app">

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-12 ">
                            <div class="shop-w-master">
                                <h1 class="shop-w-master__heading u-s-m-b-30">
                                    <i class="fas fa-filter u-s-m-r-8"></i>

                                    <span>FILTRES</span>
                                </h1>
                                <div class="shop-w-master__sidebar sidebar--bg-snow">

                                    <div class="u-s-m-b-30">
                                        <div class="shop-w">
                                            <div class="shop-w__intro-wrap">
                                                <h1 class="shop-w__h">CATEGORIES</h1>

                                                <span
                                                    class="fas fa-minus shop-w__toggle"
                                                    data-target="#s-category"
                                                    data-toggle="collapse"></span>
                                            </div>
                                            <div class="shop-w__wrap collapse show" id="s-category">
                                                <ul class="shop-w__category-list gl-scroll">
                                                    <li class="has-list">

                                                        <a href="#">Catégories</a>

                                                        <span class="category-list__text u-s-m-l-6">(23)</span>

                                                        <span class="js-shop-category-span is-expanded fas fa-plus u-s-m-l-6"></span>
                                                        <ul style="display:block">
                                                            <li class="has-list">

                                                                <a href="#">Catégorie</a>

                                                                <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                                                <ul>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="has-list">

                                                                <a href="#">Catégorie</a>

                                                                <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                                                <ul>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="has-list">

                                                                <a href="#">Catégorie</a>

                                                                <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                                                <ul>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="has-list">

                                                                <a href="#">Catégorie</a>

                                                                <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                                                <ul>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="has-list">

                                                                <a href="#">Catégorie</a>

                                                                <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                                                <ul>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="has-list">

                                                                <a href="#">Catégorie</a>

                                                                <span class="js-shop-category-span is-expanded fas fa-plus u-s-m-l-6"></span>
                                                                <ul style="display:block">
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                    <li>

                                                                        <a href="#">Projet</a>
                                                                    </li>
                                                                </ul>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-12">
                                    <div class="shop-p">
                                        <div class="shop-p__toolbar u-s-m-b-30">

                                            <div class="shop-p__tool-style">
                                                <div class="tool-style__group u-s-m-b-8">

                                                    <span class="js-shop-grid-target is-active">Grid</span>

                                                    <span class="js-shop-list-target">List</span>
                                                </div>
                                                <form>
                                                    <div class="tool-style__form-wrap">
                                                        <div class="u-s-m-b-8">
                                                            <select class="select-box select-box--transparent-b-2">
                                                                <option>Pages: 8</option>
                                                                <option selected="selected">Pages: 12</option>
                                                                <option>Pages: 16</option>
                                                                <option>Pages: 28</option>
                                                            </select>
                                                        </div>
                                                        <div class="u-s-m-b-8">
                                                            <select class="select-box select-box--transparent-b-2">
                                                                <option selected="selected">Trier par: Newest Items</option>
                                                                <option>Trier par: Latest Items</option>
                                                                <option>Trier par: Best Selling</option>
                                                                <option>Trier par: Best Rating</option>
                                                                <option>Trier par: Lowest Price</option>
                                                                <option>Trier par: Highest Price</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="shop-p__collection">
                                            <div class="row is-grid-active">

                                                {% include 'article/listgrid.html.twig' with {
                                                    articles
                                                } %}

                                            </div>
                                        </div>

                                        <div class="u-s-p-y-60">

                                            <!--====== Pagination ======-->
                                            <ul class="shop-p__pagination">
                                                <li class="is-active">

                                                    <a href="shop-grid-left.html">1</a>
                                                </li>
                                                <li>

                                                    <a href="shop-grid-left.html">2</a>
                                                </li>
                                                <li>

                                                    <a href="shop-grid-left.html">3</a>
                                                </li>
                                                <li>

                                                    <a href="shop-grid-left.html">4</a>
                                                </li>
                                                <li>

                                                    <a class="fas fa-angle-right" href="shop-grid-left.html"></a>
                                                </li>
                                            </ul>
                                            <!--====== End - Pagination ======-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Section 1 ======-->
                </div>

            </div>

        {% endblock %}