{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

<div class="extra-space-l"></div>
<div class="container vh-100">
        <h2 class="mont text-center">Show de la categorie</h2>
        

        <div class="extra-space-l"></div>
        <div class="row g-5">
            <div class="col">
                <h3 class="pb 4 mb-4 fst-italic border-bottom text-center">
                    {{ category.name }}
                </h3>
                <div class="shop-p__collection">
                    <div class="row is-grid-active">
                        {% include 'article/listgrid.html.twig' with { articles: category.articles, justifycenter: "text-center"} %}
                    </div>
                </div>
            </div>
        </div>

    


    </div>
{% endblock %}