

.page-footer {
	background-color: #f3f3f2;
	padding-top: 20px;
	padding-bottom: 10px;
    .copyright{
        margin-bottom: -4%;
        img{
            margin-bottom: 2%;
        }
    }
  }

  #footermention {

    border-top: 1px solid !important;
    margin-top:1%
  }
  
  .page-footer .footer-links {
	list-style: none;
	padding: 0;
	margin-bottom: 45px;
	word-break: break-all;
    li {
        margin: 3% 0px ;

        a{
        text-decoration: none !important; 
        color: rgb(112, 106, 106);
        transition: 0.3s;
        
        }
        a:hover{
        color: #212121;
        }
    }
  }

  .titrefoot-slot {
      margin-top: 5%;
  }


  .footer-logo {
    
    border-radius: 5em;
    }

    .footer-paiement {
      
        float: right;
       
    }

    .legal-links .item img {
        margin: 0% 2% !important;
    }


    .footer-social {
        float: left;
        .social-links img {
            max-width: 50px;
            max-height: 50px;
            min-width: 40px;
            min-height: 40px;
        }
    }
  
  
  .page-footer .footer-legal .legal-links .item {
	padding-right: 13px;
	border-right: 1px solid #ccc;
	
	margin-right: 13px;
  }

  .footer-legal {
	background-color: #000;
  }


.social_links{
    margin-top: 47px;
    
    ul{
        li{
            display: inline-block;

            
        }
    }
}


.bande-mention {
    padding: 0% 5%;
    a {
        text-decoration:none !important; 
    }
    h4 {
        font-size: 1.7em !important;
    }
}






