{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

<div class="extra-space-l"></div>
    <div class="container vh-100">
        <h2 class="mont text-center">{{ article.title }}</h2>
        <img
                class="aspect__img text-center"
                src="{{ asset('img/fournitureheader.jpg') }}"
                width="355px"
                alt="">
        <hr>

        <h5 class="text-center">{{ article.content|raw }}</h5>
    </div>
{% endblock %}
