<nav class="mega-menu bg-light">
    <ul class="mega-menu-main">
        <li class="lvl-0">
            <a class="titresousnav" href="{{ path('app_main') }}">Accueil</a>

        </li>

        <li class="lvl-0">
            <a class="titresousnav" href="{{ path('app_articles') }}">Projets</a>

        </li>

        <li class="lvl-0">
            <a class="titresousnav" href="#">Catégories</a>
            <ul class="mega-menu-tab">
                <li class="lvl-1">
                    <h2>Catégorie 1</h2>
                    <ul class="lvl-2">
                        <li>
                            <a href="#">Lien Projet</a>
                        </li>
                        <li>
                            <a href="#">Lien Projet</a>
                        </li>
                        <li>
                            <a href="#">Lien Projet</a>
                        </li>
                    </ul>
                </li>
                <li class="lvl-1">
                    <h2>Catégorie 2</h2>
                    <ul class="lvl-2">
                        <li>
                            <a href="#">Lien Projet</a>
                        </li>
                        <li>
                            <a href="#">Lien Projet</a>
                        </li>
                        <li>
                            <a href="#">Lien Projet</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="lvl-0">
            <a class="titresousnav" href="#">A propos de moi</a>
        </li>

        <li class="lvl-0">
            <a class="titresousnav" href="#">Contactez-moi</a>
        </li>

    </ul>
</li>
</ul>
</nav>